body {
  background-color: rgb(49, 49, 49);
  color: white;
  font-family: Georgia, "Times New Roman", Times, serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

img {
  width: 400px;
}

.index {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.img-post {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.img-pfp {
  width: 5rem;
}

.pfp-info {
  border: solid 1px white;
  border-radius: 10px;

  width: 30rem;
  height: fit-content;

  background-color: white;
  color: black;
}

.grey-message {
  color: grey;
}

.messages {
  list-style-type: none;
}

.success,
.error,
.debug,
.warning,
.info {
  font-variant: small-caps;
  text-align: center;
}

.custom-button {
  border: solid 1px white;
  border-radius: 10px;

  background-color: white;
  padding: 10px;
}

.info-row {
  display: inline;
  justify-content: space-around;
  align-content: space-around;
}


.bio{
  text-align: justify;
}

.textButton {
  color: black;
}


