body {
  background-color: #121212;
  color: #f8f9f4;
  font-family: Georgia, "Times New Roman", Times, serif;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header {
  background-color: #212125;
  padding: 1.5rem;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-header .title {
  font-size: 3rem;
  margin: 0;
  font-variant: small-caps;
}

.title a {
  text-decoration: none;
  color: white;
}

.auth {
  font-size: 1rem;
  text-align: right;
}

.auth a {
  color: white;
  text-decoration: none;
}


.grey-message {
  color: grey;
}

.messages {
  list-style-type: none;
}

.success,
.error,
.debug,
.warning,
.info {
  font-variant: small-caps;
  text-align: center;
}


.info-row {
  display: inline;
  justify-content: space-around;
  align-content: space-around;
}
