body {
  background-color: rgb(49, 49, 49);
  color: white;
  font-family: Georgia, "Times New Roman", Times, serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.index {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}


.grey-message {
  color: grey;
}

.messages {
  list-style-type: none;
}

.success,
.error,
.debug,
.warning,
.info {
  font-variant: small-caps;
  text-align: center;
}

.custom-button {
  border: solid 1px white;
  border-radius: 10px;

  background-color: white;
  padding: 10px;
}

.info-row {
  display: inline;
  justify-content: space-around;
  align-content: space-around;
}
