body {
  background-color: rgb(49, 49, 49);
  color: white;
  font-family: Georgia, "Times New Roman", Times, serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0;
}

.header {
  background-color: #212125;
  padding: 1.5rem;
  text-align: center;
}

.row {
  display: flex;
}

.main-header {
  text-align: left;
  font-size: 30px;
}

.title {
  font-variant: small-caps;
  width: 49rem;
}

.title a:link {
  text-decoration: none;
}

.auth {
  flex-direction: row-reverse;
  text-align: end;
}

.grey-message {
  color: grey;
}

.messages {
  list-style-type: none;
}

.success,
.error,
.debug,
.warning,
.info {
  font-variant: small-caps;
  text-align: center;
}

.custom-button {
  border: solid 1px white;
  border-radius: 10px;

  background-color: white;
  padding: 10px;
}

.info-row {
  display: inline;
  justify-content: space-around;
  align-content: space-around;
}
