{% extends "base.html" %} 
{% load static %} 
{% block content %}
  {% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
                {{ message }}
            </li>
        {% endfor %}
    </ul>
  {% endif %}

  <div class="user">
    <div class="img-post">
      <img class="img-post" src="{{ profile.avatar.url }}"/>
    </div>
    <p>{{profile.user.first_name}} {{profile.user.last_name}} {{profile.user.username}} {{profile.user.email}}</p>
    <p>{{profile.bio}}</p>
    {% if request.user == profile.user %}
      <div class="edit-profile">
        <p><a href="{% url 'users:user-edit' profile.user.username %}">Editar</a></p>
      </div>
    {% endif %}
  </div>

  {% for echo in profile.user.echos.all %}
      <div class="echoContainer" style="background-color: {% cycle 'LightBlue' 'LightPink' %}">
        <p><a href="{% url 'users:profile' echo.user.username %}">{{ echo.user.username }}</a></p>
        <p>{{ echo.created_at|timesince }}</p>
        <p>{{ echo.content|truncatewords:20 }}</p>
        <p>Read more <a href="{% url 'echos:echo-detail' echo.pk %}">here</a></p>
      </div>
  {% empty %}
    <p>No echos yet</p>
  {% endfor %}


{% endblock %}
