{% extends "base.html" %} 
{% load static %}

{% block extrahead %}
  <link rel="stylesheet" href="{% static 'css/profile.css' %}">
{% endblock %}

{% block content %}
  {% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
                {{ message }}
            </li>
        {% endfor %}
    </ul>
  {% endif %}

  <div class="user">
    <div class="img-container">
      <img class="img-pfp" src="{{ profile.avatar.url }}"/>
      <p>
        {{profile.user.username}}
      </p>
    </div>
    <div class="pfp-info">
      <div class="info-row">
        <span><b>{{profile.user.first_name}} {{profile.user.last_name}}</b></span>
        <span>{{profile.user.email}}</span>
      </div>
      {% if profile.bio %}
        <p class="bio">
          {{profile.bio}}
        </p>
      {% else %}
        <p class="grey-message">
          <i>No bio yet!</i>
        </p>
      {% endif %}
    </div>
    {% if request.user == profile.user %}
      <div class="edit-profile">
        <p><a href="{% url 'users:user-edit' profile.user.username %}">Editar</a></p>
      </div>
    {% endif %}
  </div>

  <div class="echo-list">
    {% for echo in profile.user.echos.all %}
      {% if forloop.counter0 < 5 %}
        <div class="echoContainer">
          <span class="pill-username"><p><a href="{% url 'users:profile' echo.user.username %}">@{{ echo.user.username }}</a></p></span>
          <p>{{ echo.content | truncatewords:20 }}</p>
          <p><a href="{% url 'echos:echo-detail' echo.pk %}">Read more here</a></p>
          <span class="separator"><span>
          <div class="time">
              <p>{{ echo.created_at|timesince }}</p>
            </div>
          </div>
        <div>
      {% endif %}
    {% empty %}
      <p class="grey-message"><i>No echos yet</i></p>
    {% endfor %}
  </div>

  {% if profile.user.echos.count > 5 %}
    <p><a href="{% url 'users:user-echos' profile.user.username %}">Show all echos</a></p>
  {% endif %}


{% endblock %}
