{% extends "base.html" %} 
{% load static %}

{% block extrahead %}
  <link rel="stylesheet" href="{% static 'css/profile.css' %}">
{% endblock %}

{% block content %}
  {% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
                {{ message }}
            </li>
        {% endfor %}
    </ul>
  {% endif %}

  <div class="user">
    <div class="img-container">
      <img class="img-pfp" src="{{ profile.avatar.url }}"/>
      <p>
        {{profile.user.username}}
      </p>
    </div>
    <div class="pfp-info">
      <div class="info-row">
        <span class="info-pill">{{profile.user.first_name}} {{profile.user.last_name}}</span>
        <span class="info-pill">{{profile.user.email}}</span>
      </div>
      {% if profile.bio %}
        <p class="separator-info"></p>
        <p class="bio">
          {{profile.bio}}
        </p>
      {% else %}
        <p class="grey-message">
          <i>No bio yet!</i>
        </p>
      {% endif %}
    </div>
    {% if request.user == profile.user %}

          <span class="pill-option pill-edit">
            <p>
              <a href="{% url 'users:user-edit' profile.user.username %}">
                Edit profile
                <ion-icon name="create-outline"></ion-icon>
              </a>
            </p>
          </span>    

    {% endif %}
  </div>

  <div class="echo-list">
    {% for echo in profile.user.echos.all %}
      {% if forloop.counter0 < 5 %}
        <div class="echoContainer">

        <span class="pill-username">
          <p>
            <a href="{% url 'users:profile' echo.user.username %}">
              {{ echo.user.username }}
              <ion-icon name="person-outline"></ion-icon>
            </a>
          </p>
        </span>
        <div class="content">
          <p>{{ echo.content | truncatewords:20 }}</p>
        </div>
        <div class="readmore">
          <p>
            <a href="{% url 'echos:echo-detail' echo.pk %}">
              See full echo
              <ion-icon name="chevron-forward-outline"></ion-icon>
            </a>
          </p>
        </div>
        <div class="meta">
          <hr class="separator">
          <div class="time">
            <p>{{ echo.created_at|timesince }}</p>
          </div>
        </div>
      </div>
      {% endif %}
    {% empty %}
      <p class="grey-message"><i>No echos yet</i></p>
    {% endfor %}
  </div>

  {% if profile.user.echos.count > 5 %}
    <p><a href="{% url 'users:user-echos' profile.user.username %}">Show all echos</a></p>
  {% endif %}


{% endblock %}
