{% extends "base.html" %} 
{% load static %} 
{% block extrahead %}
  <link rel="stylesheet" href="{% static 'css/form.css' %}">
{% endblock %}
{% block content %} 

{% if messages %}
  <ul class="messages">
    {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
            {{ message }}
        </li>
    {% endfor %}
  </ul>
{% endif %}

<div class="formContainer">
  <form method="post" novalidate>
    {% csrf_token %}
    {{ form }}

    <div class="form-btn">
      <input type="submit" value="Login" />

      <span class="pill-form">
        <p><a href="{% url 'signup' %}">Don't have an account?</a></p>
      </span>
    </div>
  </form>
</div>

{% endblock %}
