{% extends "base.html" %} 
{% load static %} 
{% block content %}
{% include "header.html" %}

  {% if request.user == echo.user %}
    <p class="custom-button">
      <a href="{% url 'echos:edit-echo' echo.pk %}" class="textButton">Edit echo</a>
    </p>
    <p class="custom-button">
      <a href="{% url 'echos:delete-echo' echo.pk %}" class="textButton">Delete echo</a>
    </p>
  {% endif %}

  {% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>
                {{ message }}
            </li>
        {% endfor %}
    </ul>
  {% endif %}

  <div class="echoContainer" style="background-color: {% cycle 'LightBlue' 'LightPink'%}">
    <div class="info-row">
      <p><a href="{% url 'users:profile' echo.user.username %}">{{ echo.user.username }}</a></p>
      <p>{{ echo.created_at|timesince }}</p>
    </div>
    <p>{{ echo.content }}</p>
  </div>

  <p class="custom-button">
    <a href="{% url 'echos:add-wave' echo.pk %}" class="textButton">Add wave</a>
  </p>
  {% if echo.waves.all|length > 5 %}
    <p><a href="{% url 'echos:echo-detail' echo.pk %}">View all waves</a></p>
  {% endif %}
  {% for wave in echo.waves.all %}
    {% if forloop.counter0 < 5 %}  
      <div class="echoContainer" style="background-color: {% cycle 'LightBlue' 'LightPink'%}">
        <p><a href="{% url 'users:profile' wave.user.username %}">{{ wave.user.username }}</a></p>
        <p>{{ wave.created_at|timesince }}</p>
        <p>{{ wave.content }}</p>
      </div>
      {% if request.user == wave.user %}
      <div> 
        <div class="edit-echo">
          <p><a href="{% url 'waves:edit-wave' wave.pk %}">Edit wave</a></p>
        </div>
        <div class="delete-echo">
          <p><a href="{% url 'waves:delete-wave' wave.pk %}">Delete wave</a></p>
        </div>
      </div>
      {% endif %}
    {% endif %}
    {% empty %}
      <p>No waves yet</p>
    {% endfor %}

{% endblock %}
