<div class="header">
  <h1>
    {% comment %} <a href="{% url 'posts:post_list' %}"> {% endcomment %}
      Tribu
    {% comment %} </a> {% endcomment %}
    </h1>
  <h2>{{ subtitle }}</h2>

  <h4>
    {% comment %} {% if user.is_authenticated %}
      <a href="{% url 'accounts:profile' %}"> {{ user.username }} </a> |
      <a href="{% url 'accounts:logout' %}">Logout</a>
    {% else %}
      <a href="{% url 'accounts:login' %}">Login</a> |
      <a href="{% url 'accounts:signup' %}">Signup</a>
    {% endif %} {% endcomment %}
  </h4>
</div>
